<!DOCTYPE html>
<html lang="en">

<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive navbar</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div id="set" class="mobile">
    <nav>
        <div class="container nav-wrapper">
            <div class="brand">
               <img width="40px" src="https://dsciiitb.tech/images/logos/gdsc-logo.gif">
                <span><strong>DSC IIIT BHOPAL</strong></span>
            </div>
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <ul class="nav-list">
                <li class="active">
                    <a href="#">Home</a>
                </li>
                <li><a href="#">About US</a></li>
                <li>
                    <a href="#">Events</a>
                    <!-- <ul class="dropdown-list">
                        <li><a href="#">SEO optimisation</a></li>
                        <li><a href="#">Digital marketing</a></li>
                        <li><a href="#">Web development</a></li>
                        <li><a href="#">Web design</a></li>
                        <li><a href="#">Software development</a></li>
                        <li><a href="#">Branding</a></li>
                        <li><a href="#">Content writing</a></li>
                    </ul> -->
                </li>
                <li><a href="#">Tech</a></li>
                <li><a href="#">Contact</a></li>
              
            </ul>
        </div>
    </nav>
    <!-- <main>
        <section class="header container">
            <div>
                <h1>Awesome Responsive Navbar</h1>
                <h4>Lorem ipsum dolor sit amet consectetur.</h4>
                <div>
                    <button class="btn">Watch video now</button>
                </div>
            </div>
        </section>
    </main> -->
   
</div>